@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

/* about me */
.about{
    width:100%;
    height: 50vh;
    background-color: lavender;
    font-family: 'Noto Sans JP', sans-serif;
}

.aboutMe{
    text-align: center;
    padding: 25vh;
}

.frontend{
    color: brown;
}

/* works */
.works{
    width: 100%;
    height: 100vh;
    display: flex;
}

.works img{
    flex-direction: row;
    width: 300px;
    margin: 5%;
    height: 50%;
}

/* contact */
.contact{
    height: 20vh;
    background-color: burlywood;
}

.contact img{
    width: 100px;
    height: 100px;
}